---
import { routeBase } from '../util/routing';
---

<header>
  <div class='logo'>
    <img src='./images/craxit-logo.png' alt='CraxIt logo' />
    <p>CraxIt</p>
  </div>
  <ul>
    <li><a href={`${routeBase}/react`}>React Micro Frontend</a></li>
    <li><a href={`${routeBase}/ReactSharedPage`}>react shared page</a></li>
    <li><a href={`${routeBase}/reacttvueb`}>vue + React table</a></li>
    <li><a href={`${routeBase}/reactButtonPage`}>React button</a></li>
    <li><a href={`${routeBase}/vueButtonPage`}>Vue button</a></li>
    <li><a href={`${routeBase}/ReactTablePage`}>React table</a></li>
    <li>
      <a href={`${routeBase}/VuetReactbPage`}>vue table + react button</a>
    </li>
  </ul>
</header>
<style>
  .logo {
    margin: auto 0;
    margin-right: -1.5rem;
    margin-left: 2rem;
    display: flex;
  }
  .logo p {
    font-weight: bold;
    color: white;
  }
  img {
    height: 1.2rem;
    margin: auto;
  }
  header {
    display: flex;
    background-color: #2d444e;
    padding: 0;
    margin: 0;
    height: 10%;
    padding-left: 1rem;
    font-size: 17px;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
  }
  ul {
    display: flex;
    justify-content: center;
  }
</style>
